.logout:hover {
    background-color: #ffd000 !important ;
    color: rgb(255, 255, 255);
}
/*asa*/
.sidebar-menu > li > a:hover {
    border-left: 2px solid #ffd000;
}

.content-wrapper {
    background-image: url(../assetsad/img/bg-admin.jpg);
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-color: #a7a7a7c9;
    background-blend-mode: multiply;
}

.main-sidebar {
    background-image: linear-gradient(45deg, #f3a3619f, #ccf166af);
}

.content-header,
.content-header small {
    color: white;
}

hr {
    border: 1px solid #ffa601;
}

/* nhan Vien - Mon An - Khuyen Mai */

[class*='NhanVien'],
[class*='MonAn'],
[class*='KhuyenMai'] {
    position: absolute;
    display: none;
    top: 52%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.726);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(255, 208, 0);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 1s linear forwards;
    z-index: 10;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

[class*='NhanVien'].show,
[class*='MonAn'].show,
[class*='KhuyenMai'].show {
    display: block;
}

[class*='NhanVien'] h4,
[class*='MonAn'] h4,
[class*='KhuyenMai'] h4 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

[class*='NhanVien'] .user-box,
[class*='MonAn'] .user-box,
[class*='KhuyenMai'] .user-box {
    position: relative;
}

[class*='NhanVien'] .user-box input,
[class*='MonAn'] .user-box input,
[class*='KhuyenMai'] .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
[class*='NhanVien'] .user-box label,
[class*='MonAn'] .user-box label,
[class*='KhuyenMai'] .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s ease-out;
}

[class*='NhanVien'] .user-box input:focus ~ label,
[class*='NhanVien'] .user-box input:valid ~ label,
[class*='MonAn'] .user-box input:focus ~ label,
[class*='MonAn'] .user-box input:valid ~ label,
[class*='KhuyenMai'] .user-box input:focus ~ label,
[class*='KhuyenMai'] .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f68e44;
    font-size: 12px;
}

[class*='MonAn'] form button,
[class*='NhanVien'] form button,
[class*='KhuyenMai'] form button,
.BCDT button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #b79726;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: #00000000;
    border-width: 0;
    font-weight: 900;
}

[class*='NhanVien'] button:hover,
[class*='MonAn'] button:hover,
[class*='KhuyenMai'] button:hover,
.BCDT button:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803, 0 0 25px #bd9d0b, 0 0 50px #f4e403, 0 0 100px #d5cf1e;
}

[class*='NhanVien'] button span,
[class*='MonAn'] button span,
[class*='KhuyenMai'] button span,
.chart-active span {
    position: absolute;
    display: block;
}

[class*='NhanVien'] button span:nth-child(1),
[class*='MonAn'] button span:nth-child(1),
[class*='KhuyenMai'] button span:nth-child(1),
.chart-active span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f4c003);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

[class*='NhanVien'] button span:nth-child(2),
[class*='MonAn'] button span:nth-child(2),
[class*='KhuyenMai'] button span:nth-child(2),
.chart-active span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f4bc03);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

[class*='NhanVien'] button span:nth-child(3),
[class*='MonAn'] button span:nth-child(3),
[class*='KhuyenMai'] button span:nth-child(3),
.chart-active span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f4dc03);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

[class*='NhanVien'] button span:nth-child(4),
[class*='MonAn'] button span:nth-child(4),
[class*='KhuyenMai'] button span:nth-child(4),
.chart-active span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f4b003);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 88;
}

.overlay .show {
    display: block;
}

[class*='NhanVien'] .close-btn,
[class*='MonAn'] .close-btn,
[class*='KhuyenMai'] .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
}

#output {
    position: fixed;
    font-size: 18px;
    text-align: center;
    display: none;
    z-index: 19;
    top: 10%;
    left: 50%;
    width: 600px;
    height: 5%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(234, 236, 86, 0.726);
    box-sizing: border-box;
    border-radius: 10px;
    animation: see 3.5s linear forwards;
    backdrop-filter: blur(10px);
    line-height: 0;
}

@keyframes see {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    15% {
        opacity: 1;
        visibility: visible;
    }
    90% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* icon date */

.custom-date::-webkit-calendar-picker-indicator {
    background-image: url('../assetsad/img/date.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Loader */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
@keyframes loader {
    0%,
    10%,
    100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}
@keyframes loaderBlock {
    0%,
    30% {
        transform: rotate(0);
    }
    55% {
        background-color: #fff;
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes loaderBlockInverse {
    0%,
    20% {
        transform: rotate(0);
    }
    55% {
        background-color: #fff;
    }
    100% {
        transform: rotate(-90deg);
    }
}

.loader {
    width: 6em;
    height: 6em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate023845 3s linear infinite;
}

.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: rgb(255, 8, 8);
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: rgb(31, 255, 1);
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}

.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate023845 {
    to {
        transform: rotate(1turn);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.img-circle {
    width: 50% !important;
    height: 50%;
    border-radius: 0 !important;
}

#split {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia đều 2 cột */
    gap: 5px; /* Khoảng cách giữa các cột */
}

.columneee {
    padding: 0 5px; /* Khoảng cách giữa các cột */
}

input[type='radio'] {
    margin-bottom: 5px; /* Khoảng cách giữa các checkbox */
    display: block;
}

#ppp {
    color: white;
}

#typeof {
    display: block;
}
