<!DOCTYPE html>
<html lang="vi"><!-- Basic -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Site Metas -->
	<title>Contact</title>
	<meta name="keywords" content="">
	<meta name="description" content="HotPot, Grilled">
	<meta name="author" content="AZAOWEN, NguyenLe">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="/img/logo_DH.png" type="image/x-icon">
	<!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/loader.css">


	<script src="https://kit.fontawesome.com/b142e11283.js" crossorigin="anonymous"></script>


</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/img/logo_DH.png" alt="Logo Đức Huệ " />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
					aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/hots">Hots</a></li>
						<li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
						<li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
						<li class="nav-item active"><a class="nav-link" href="/contact">Contacts</a></li>
						<li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb menu-bg">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Contacts</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d475460.75061588606!2d105.52119487106567!3d21.408123303848704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31352730f0542f47%3A0x671fdd22b78391dd!2zUXXDoW4gY2F5IMSQ4bupYyBIdeG7hw!5e0!3m2!1svi!2s!4v1680967179357!5m2!1svi!2s"
		width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy"
		referrerpolicy="no-referrer-when-downgrade"></iframe>


	<div class="box-split-center" id="contactsss">

	</div>




	<!-- Start QT -->
	<div class="qt-box qt-background qt-background2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p class="lead ">
						" Nhà hàng là nơi mang đến cho bạn một trải nghiệm ngon lành không chỉ là về thực phẩm, mà còn
						là về tình cảm và kỷ niệm "
					</p>
					<span class="lead">Emeril Lagasse</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->




	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>Giải Đáp</h3>
					<p>Mọi nhu cầu về <i> nhượng quyền </i> , xin vui lòng liên hệ trực tiếp tới Mrs Huệ theo thông tin
						liên hệ để trao đổi. <br> <br> Mọi thắc mắc khác, gửi form yêu cầu qua Email hoặc Gọi điện trực
						tiếp. Đội ngũ nhân viên chuyên nghiệp trực 24/7. </p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3> Trang fanpage</h3>
					<div class="subscribe_form">
						<!-- <form class="subscribe_form">
							<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email của bạn..."
								type="email">
							<button type="submit" class="submit">Gửi</button>
							<div class="clearfix"></div>
						</form> -->
					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="https://www.facebook.com/quancayduchue.vn"><i
									class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://www.tiktok.com/@user2218431466624"><i
									class="fa-brands fa-tiktok" aria-hidden="true"></i></a></li>
						<!-- <li class="list-inline-item"><a href="#"><i class="fa-brands fa-zalo" aria-hidden="true"></i></a></li> -->
						<!-- <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
						<!-- <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
						<!-- <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Thông tin liên hệ</h3>
					<p class="lead">(Mrs Huệ)</p>
					<p style="line-height: 150%;">ĐC1: Đê Nông Lâm: Nhà số 4 Tổ 1 - Đường Đê Nông Lâm - P. Quang Trung -
						Tp Thái Nguyên.</p>
					<p style="line-height: 150%;">ĐC2: Cầu Vượt Đán: Tổ 11 - Chân Cầu Vượt Đán - Phường Tân Thịnh - Tp
						Thái Nguyên.</p>
					<p class="lead"><a href="#">+84 966 922 288</a></p>
					<p class="lead" style="margin-top: -15px;"><a href="#">+84 965 583 555</a></p>
					<p><a href="#"> Duchuemobach@gmail.com</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Giờ mở cửa</h3>
					<p><span class="text-color">Thứ 2 - Thứ 7:</span> 7:00 - 22:00</p>
					<p><span class="text-color">Chủ Nhật :</span> 7:00 - 23:00</p>
					<p><span class="text-color">Ngày Lễ :</span> 10:00 - 20:00</p>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name"> &copy; 2023 Designed By AZAOWEN & Nguyenle </p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Lên Đầu" style="display: none;"><i class="fa-solid fa-angle-up"
			aria-hidden="true"> </i></i></a>

	<div id="preloader">
		<div class="loader">
			<div class="face">
				<div class="circle"></div>
			</div>
			<div class="face">
				<div class="circle"></div>
			</div>
		</div>
	</div>


	<!-- ALL JS FILES -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>


	<!-- ALL PLUGINS -->
	<script src="/js/jquery.superslides.min.js"></script>
	<script src="/js/images-loded.min.js"></script>
	<script src="/js/isotope.min.js"></script>
	<script src="/js/baguetteBox.min.js"></script>
	<script src="/js/form-validator.min.js"></script>
	<script src="/js/contact-form-script.js"></script>
	<script src="/js/custom.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
	<script src="/js/contact-detail.js"></script>

	<script>
		$(window).on('load', function () {
			$("#preloader").fadeOut();
		});
	</script>



</body>

</html>