<!DOCTYPE html>
<html lang="en"><!-- Basic -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Site Metas -->
	<title>Quán Cay Đức Huệ </title>
	<meta name="keywords" content="">
	<meta name="description" content="HotPot, Grilled">
	<meta name="author" content="AZAOWEN, NguyenLe">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="/img/logo_DH.png" type="image/x-icon">
	<!-- <link rel="apple-touch-icon" href="/img/apple-touch-icon.png"> -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/loader.css">
	<!-- Link app.js -->
	<!-- <script src="/js/app.client.js"></script> -->

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="https://kit.fontawesome.com/b142e11283.js" crossorigin="anonymous"></script>

</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/img/logo_DH.png" alt="Logo Đức Huệ " />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
					aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="/hots">Hots</a></li>
						<li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
						<li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
						<li class="nav-item"><a class="nav-link" href="/contact">Contacts</a></li>
						<li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb menu-bg">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>HOT</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->


	<!-- Start pic menu -->
	<div id="gallery" class="section wb">
		<div class="container-fluid">
			<div class="section-title text-center">
				<h1>Bán Chạy</h1>
				<p>- Món ăn gây sốt gần đây -</p>
			</div><!-- end title -->

			<div class="gallery-menu text-center row">
				<div class="col-md-12">
					<div class="button-group filter-button-group">
						<!-- <button class="hvr-radial-in" data-filter="*">All</button> -->
						<button class="hvr-radial-in active" data-filter=".gal_a">Lẩu</button>
						<button class="hvr-radial-in" data-filter=".gal_b">Nướng</button>
						<button class="hvr-radial-in" data-filter=".gal_c">Ăn Kèm </button>
						<button class="hvr-radial-in" data-filter=".gal_d">Khác</button>
					</div>
				</div>
			</div>

			<div class="gallery-list row">
				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div class="gallery-single fix">
						<img src="/img/menu-pic1.jpg" class="img-fluid" alt="Lẩu">
						<div class="img-overlay">
							<h3>Combo lẩu</h3>
							<a href="/img/menu-pic1.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div class="gallery-single fix">
						<img src="/img/Lau-Ca-chep2.jpg" class="img-fluid" alt="Lẩu Cá Chép ">
						<div class="img-overlay">
							<h3>Lẩu Cá Chép</h3>
							<a href="/img/Lau-Ca-chep2.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div class="gallery-single fix">
						<img src="/img/lau-ga.jpg" class="img-fluid" alt="Lẩu Gà">
						<div class="img-overlay">
							<h3>Lẩu Gà</h3>
							<a href="/img/lau-ga.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i
									class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div class="gallery-single fix">
						<img src="/img/Lau-ech2.jpg" class="img-fluid" alt="Lẩu Ếch">
						<div class="img-overlay">
							<h3>Lẩu Ếch</h3>
							<a href="/img/Lau-ech2.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i
									class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_b gal_a">
					<div class="gallery-single fix">
						<img src="/img/ca-chep-gion.jpg" class="img-fluid" alt="Cá Chép Giòn">
						<div class="img-overlay">
							<h3>Cá Chép Giòn </h3>
							<a href="/img/ca-chep-gion.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_c">
					<div class="gallery-single fix">
						<img src="/img/Hau-Nuong2.jpg" class="img-fluid" alt="Hàu Nướng Mỡ Hành">
						<div class="img-overlay">
							<h3>Hàu Nướng Mỡ Hành </h3>
							<a href="/img/Hau-Nuong2.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>



				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div class="gallery-single fix">
						<img src="/img/Nuong.jpg" class="img-fluid" alt="Combo Nướng">
						<div class="img-overlay">
							<h3>Combo Nướng </h3>
							<a href="/img/Nuong.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i
									class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div class="gallery-single fix">
						<img src="/img/thit-xien-nuong.png" class="img-fluid" alt="Thịt Xiên Nướng">
						<div class="img-overlay">
							<h3>Thịt Xiên Nướng </h3>
							<a href="/img/thit-xien-nuong.png" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div class="gallery-single fix">
						<img src="/img/ba-chi-nam-kim-cham.jpg" class="img-fluid" alt="Ba Chỉ Cuốn Nấm Kim">
						<div class="img-overlay">
							<h3>Ba Chỉ Cuốn Nấm Kim </h3>
							<a href="/img/ba-chi-nam-kim-cham.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div class="gallery-single fix">
						<img src="/img/muc-nuong-cay.jpg" class="img-fluid" alt="Mực Nướng Cay">
						<div class="img-overlay">
							<h3>Mực Nướng Cay </h3>
							<a href="/img/muc-nuong-cay.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_b">
					<div class="gallery-single fix">
						<img src="/img/chan-ga-rut-xuong.jpg" class="img-fluid" alt="Chân Gà Rút Xương">
						<div class="img-overlay">
							<h3>Chân Gà Rút Xương </h3>
							<a href="/img/chan-ga-rut-xuong.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>


				<div class="col-md-4 col-sm-6 gallery-grid gal_c">
					<div class="gallery-single fix">
						<img src="/img/Banh-my-Bo.jpg" class="img-fluid" alt="Bánh Mỳ Bơ">
						<div class="img-overlay">
							<h3>Bánh Mỳ Bơ </h3>
							<a href="/img/Banh-my-Bo.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_d">
					<div class="gallery-single fix">
						<img src="/img/ruou.jpg" class="img-fluid" alt="Rượu">
						<div class="img-overlay">
							<h3>Rượu </h3>
							<a href="/img/ruou.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i
									class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>


				<div class="col-md-4 col-sm-6 gallery-grid gal_d gal_c ">
					<div class="gallery-single fix">
						<img src="/img/trang-mieng.jpg" class="img-fluid" alt="Tráng Miệng">
						<div class="img-overlay">
							<h3>Tráng Miệng </h3>
							<a href="/img/trang-mieng.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_c gal_d">
					<div class="gallery-single fix">
						<img src="/img/tra-da.jpg" class="img-fluid" alt="Trà Đá">
						<div class="img-overlay">
							<h3>Trà Đá </h3>
							<a href="/img/tra-da.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i
									class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_c">
					<div class="gallery-single fix">
						<img src="/img/ngo-chien.jpg" class="img-fluid" alt="Ngô Chiên">
						<div class="img-overlay">
							<h3>Ngô Chiên </h3>
							<a href="/img/ngo-chien.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>



				<div class="col-md-4 col-sm-6 gallery-grid gal_a">
					<div class="gallery-single fix">
						<img src="/img/ech-om-chuoi-dau.png" class="img-fluid" alt="Ếch Om Chuối Đậu">
						<div class="img-overlay">
							<h3>Ếch Om Chuối Đậu </h3>
							<a href="/img/ech-om-chuoi-dau.png" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>



				<div class="col-md-4 col-sm-6 gallery-grid gal_c">
					<div class="gallery-single fix">
						<img src="/img/Xoi-chien.jpg" class="img-fluid" alt="Xôi Chiên">
						<div class="img-overlay">
							<h3>Xôi Chiên </h3>
							<a href="/img/Xoi-chien.jpg" data-rel="prettyPhoto[gal]"
								class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 gallery-grid gal_d">
					<div class="gallery-single fix">
						<img src="/img/Bia.jpg" class="img-fluid" alt="Bia">
						<div class="img-overlay">
							<h3>Bia </h3>
							<a href="/img/Bia.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i
									class="fa fa-picture-o"></i></a>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
	<!-- End pic menu -->


	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2> Đặc Biệt</h2>
						<p>~ Món Đang Được Giảm Giá Tại Quán. Thời Gian Giới Hạn!! ~</p>
					</div>
				</div>
			</div>

			<div class="row inner-menu-box">
				<div class="col-3">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
							role="tab" aria-controls="v-pills-home" aria-selected="true">Toàn Bộ </a>
						<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
							role="tab" aria-controls="v-pills-profile" aria-selected="false">Lẩu</a>
						<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
							role="tab" aria-controls="v-pills-messages" aria-selected="false">Combo</< /a>
							<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
								role="tab" aria-controls="v-pills-settings" aria-selected="false">Khác</a>
					</div>
				</div>

				<div class="col-9">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
							aria-labelledby="v-pills-home-tab">
							<div class="row">

								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="/img/discount-coconut.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Nước Dừa Sạch</h4>
											<p>100% dừa tươi tự nhiên, nhập từ Bến Tre.</p>
											<h5> &emsp;<del>15.000</del> &emsp;10.000</h5>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 special-grid food">
									<div class="gallery-single fix">
										<img src="/img/hau-nuong.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Hàu Nướng</h4>
											<p>Ưu đãi cho đặt bàn trước từ 4 người. &emsp; &emsp; </p>
											<h5 style="color: rgb(6, 252, 6);"> &emsp; <del>55.000</del> &emsp; FREE
											</h5>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 special-grid food">
									<div class="gallery-single fix">
										<img src="/img/lau-ca-chep.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Lẩu Cá Chép</h4>
											<p>Nhân dịp ngày bình thường. &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</p>
											<h5> &emsp;<del>350.000</del> &emsp;99.000</h5>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 special-grid combo">
									<div class="gallery-single fix">
										<img src="/img/combo-lau.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Combo Lẩu Thập Cẩm </h4>
											<p>Dành cho set 4 người, giá ưu đãi đặc biệt cho khách hàng mới </p>
											<h5> &emsp;<del>400.000</del> &emsp;199.000</h5>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 special-grid food">
									<div class="gallery-single fix">
										<img src="/img/Lau-ech.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Lẩu Ếch</h4>
											<p>Món ăn làm nên thương hiệu Đức Huệ &emsp; &emsp; &emsp; &emsp; </p>
											<h5> &emsp;<del>399.000</del> &emsp;279.000</h5>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="/img/tao-meo.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Táo Mèo</h4>
											<p>Gấp đôi lượng rượu, cho thỏa sức các cồn thủ tỏa sáng .</p>
											<h5> &emsp;&emsp;&emsp;&emsp; x2 chai</h5>
										</div>
									</div>
								</div>


							</div>

						</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
							aria-labelledby="v-pills-profile-tab">
							<div class="row">

								<div class="col-lg-4 col-md-6 special-grid food">
									<div class="gallery-single fix">
										<img src="/img/Lau-ech.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Lẩu Ếch</h4>
											<p>Món ăn làm nên thương hiệu Đức Huệ &emsp; &emsp; &emsp; &emsp; </p>
											<h5> &emsp;<del>399.000</del> &emsp;279.000</h5>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 special-grid food">
									<div class="gallery-single fix">
										<img src="/img/lau-ca-chep.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Lẩu Cá Chép</h4>
											<p>Nhân dịp ngày bình thường. &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</p>
											<h5> &emsp;<del>350.000</del> &emsp;99.000</h5>
										</div>
									</div>
								</div>


							</div>

						</div>
						<div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
							aria-labelledby="v-pills-messages-tab">
							<div class="row">

								<div class="col-lg-4 col-md-6 special-grid combo">
									<div class="gallery-single fix">
										<img src="/img/combo-lau.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Combo Lẩu Thập Cẩm </h4>
											<p>Dành cho set 4 người, giá ưu đãi đặc biệt cho khách hàng mới </p>
											<h5> &emsp;<del>400.000</del> &emsp;199.000</h5>
										</div>
									</div>
								</div>


							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
							aria-labelledby="v-pills-settings-tab">
							<div class="row">

								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="/img/tao-meo.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Táo Mèo</h4>
											<p>Gấp đôi lượng rượu, cho thỏa sức các cồn thủ tỏa sáng .</p>
											<h5> &emsp;&emsp;&emsp;&emsp; x2 chai</h5>
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="/img/discount-coconut.jpg" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Nước Dừa Sạch</h4>
											<p>100% dừa tươi tự nhiên, nhập từ Bến Tre.</p>
											<h5> &emsp;<del>15.000</del> &emsp;10.000</h5>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- End Menu -->


	<!-- Start QT -->
	<div class="qt-box qt-background qt-background2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p class="lead ">
						" Những món ăn tuyệt vời được tạo ra bởi những người có đam mê, tình yêu và trách nhiệm với nghề
						nghiệp của mình. "
					</p>
					<span class="lead">Thomas Keller</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->

	<!-- Start Customer Reviews -->
	<div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Khuyến Mãi Sập Sàn Tưng Tưng</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4" id="hotDetails">



						</div>
						<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="sr-only">Tiếp Theo</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Customer Reviews -->


	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>Giải Đáp</h3>
					<p>Mọi nhu cầu về <i> nhượng quyền </i> , xin vui lòng liên hệ trực tiếp tới Mrs Huệ theo thông tin
						liên hệ để trao đổi. <br> <br> Mọi thắc mắc khác, gửi form yêu cầu qua Email hoặc Gọi điện trực
						tiếp. Đội ngũ nhân viên chuyên nghiệp trực 24/7. </p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3> trang fanpage</h3>
					<div class="subscribe_form">

					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="https://www.facebook.com/quancayduchue.vn"><i
									class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://www.tiktok.com/@user2218431466624"><i
									class="fa-brands fa-tiktok" aria-hidden="true"></i></a></li>
						<!-- <li class="list-inline-item"><a href="#"><i class="fa-brands fa-zalo" aria-hidden="true"></i></a></li> -->
						<!-- <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
						<!-- <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
						<!-- <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Thông tin liên hệ</h3>
					<p class="lead">(Mrs Huệ)</p>
					<p style="line-height: 150%;">ĐC1: Đê Nông Lâm: Nhà số 4 Tổ 1 - Đường Đê Nông Lâm - P. Quang Trung -
						Tp Thái Nguyên.</p>
					<p style="line-height: 150%;">ĐC2: Cầu Vượt Đán: Tổ 11 - Chân Cầu Vượt Đán - Phường Tân Thịnh - Tp
						Thái Nguyên.</p>
					<p class="lead"><a href="#">+84 966 922 288</a></p>
					<p class="lead" style="margin-top: -15px;"><a href="#">+84 965 583 555</a></p>
					<p><a href="#"> Duchuemobach@gmail.com</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Giờ mở cửa</h3>
					<p><span class="text-color">Thứ 2 - Thứ 7:</span> 7:00 - 22:00</p>
					<p><span class="text-color">Chủ Nhật :</span> 7:00 - 23:00</p>
					<p><span class="text-color">Ngày Lễ :</span> 10:00 - 20:00</p>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name"> &copy; 2023 Designed By AZAOWEN & Nguyenle </p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Lên Đầu" style="display: none;"><i class="fa-solid fa-angle-up"
			aria-hidden="true"> </i></i></a>

	<div id="preloader">
		<div class="loader">
			<div class="face">
				<div class="circle"></div>
			</div>
			<div class="face">
				<div class="circle"></div>
			</div>
		</div>
	</div>


	<!-- ALL JS FILES -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->
	<script src="/js/jquery.superslides.min.js"></script>
	<script src="/js/images-loded.min.js"></script>
	<script src="/js/isotope.min.js"></script>
	<script src="/js/baguetteBox.min.js"></script>
	<script src="/js/form-validator.min.js"></script>
	<script src="/js/contact-form-script.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/hots-details.js"></script>
	<script>
		$(window).on('load', function () {
			$("#preloader").fadeOut();
		});
	</script>
</body>

</html>