<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Metas -->
    <title>ADMIN</title>
    <meta name="keywords" content="" />
    <meta name="description" content="HotPot, Grilled" />
    <meta name="author" content="AZAOWEN, NguyenLe" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/img/logo_DH.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/loader.css" />
</head>

<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo_DH.png" alt="Logo Đức Huệ " />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
                aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/hots">Hots</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contacts</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/login">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body id="bgbgall">
    <div id="login-box" class="login-box">
        <h4>
            Đăng Nhập
            <p id="extras"></p>
        </h4>
        <form id="login-form" method="POST">
            <div class="user-box">
                <input type="text" name="email" required />
                <label>EMAIL</label>
            </div>

            <div class="user-box">
                <input type="password" name="password" required />
                <label>Mật Khẩu</label>
            </div>
            <button type="submit" onclick="submitLogin(event)">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Đăng Nhập
            </button>
        </form>
    </div>
    <script>
        function submitLogin(event) {
            event.preventDefault(); // Chặn sự kiện submit form mặc định
            const xhr = new XMLHttpRequest();
            const form = document.getElementById("login-form");
            const outputDiv = document.querySelector('#output');
            xhr.open("POST", "http://127.0.0.1:5000/api/admin/login");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE) {
                    const res = JSON.parse(xhr.responseText);
                    setTimeout(function () {
                        closeLogin();
                    }, 0);

                    setTimeout(function () {
                        outputDiv.innerHTML = res.mes;
                        outputDiv.style.background = res.success ? 'green' : '#de1f18';
                        outputDiv.style.color = 'white';
                        outputDiv.style.display = 'block';
                    }, 0);
                    setTimeout(function () {
                        document.getElementById('output').style.display = 'none';
                        if (res.success) window.location.href = 'http://127.0.0.1:5000/api/admin';
                    }, 1500);
                }
                // if (this.status === 200) {
                //     setTimeout(function () {
                //         closeLogin();
                //     }, 1000);

                //     setTimeout(function () {
                //         outputDiv.innerHTML = 'Đăng nhập Thành Công!';
                //         outputDiv.style.background = 'green';
                //         outputDiv.style.color = 'white';
                //         outputDiv.style.display = 'block';
                //     }, 1000);
                //     setTimeout(function () {
                //         document.getElementById('output').style.display = 'none';
                //     }, 4500);
                //     window.location.href = 'http://127.0.0.1:5000/api/admin'
                // } else if (this.status === 400) {
                //     setTimeout(function () {
                //         closeLogin();
                //     }, 1000);

                //     setTimeout(function () {
                //         outputDiv.innerHTML = 'Hãy nhập đầy đủ email và mật khẩu!';
                //         outputDiv.style.background = '#de1f18';
                //         outputDiv.style.color = 'white';
                //         outputDiv.style.display = 'block';
                //     }, 1000);
                //     setTimeout(function () {
                //         document.getElementById('output').style.display = 'none';
                //     }, 4500);
                // } else {
                //     setTimeout(function () {
                //         closeLogin();
                //     }, 1000);

                //     setTimeout(function () {
                //         outputDiv.innerHTML = 'Tài khoản hoặc mật khẩu không hợp lệ!';
                //         outputDiv.style.background = '#de1f18';
                //         outputDiv.style.color = 'white';
                //         outputDiv.style.display = 'block';
                //     }, 1000);
                //     setTimeout(function () {
                //         document.getElementById('output').style.display = 'none';
                //     }, 4500);
                // }
            };

            const formData = new FormData(form);
            const payload = {
                email: formData.get("email"),
                password: formData.get('password')
            };

            xhr.send(JSON.stringify(payload));
        }
    </script>

    <div id="output"></div>




    <div id="preloader">
        <div class="loader">
            <div class="face">
                <div class="circle"></div>
            </div>
            <div class="face">
                <div class="circle"></div>
            </div>
        </div>
    </div>


    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- <script src="../../Controllers/controller/login.js"></script> -->
    <script>
        $(window).on('load', function () {
            $("#preloader").fadeOut();
        });
    </script>
</body>

</html>