<!DOCTYPE html>
<html lang="vi"><!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Menu</title>
    <meta name="keywords" content="">
    <meta name="description" content="HotPot, Grilled">
    <meta name="author" content="AZAOWEN, NguyenLe">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/img/logo_DH.png" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/loader.css">


    <script src="https://kit.fontawesome.com/b142e11283.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/detail-menu.css">


</head>

<body>
    <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo_DH.png" alt="Logo Đức Huệ " />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/client/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/client/hots">Hots</a></li>
                        <li class="nav-item"><a class="nav-link" href="/client/aboutus">About Us</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/client/menu">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="/client/contact">Contacts</a></li>
                        <li class="nav-item"><a class="nav-link" href="/client/login">Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb menu-bg2">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>MENU</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Pages -->





    <!-- Detail menu start-->
    <section id="main-menu" class="menu-cart scroll-reveal">
        <div class="container">
            <h1 class="header-txt" id="center-menu">Menu Chi Tiết</h1>
            <ul class="menu-navigation" data-tabs data-match-height="true" id="example-tabs">
                <li class="tabs-title"><a class="m-anim" href="#panel1">Đồ Nướng</a></li>
                <li class="tabs-title"><a class="m-anim" href="#panel2">Đồ lẩu</a></li>
                <li class="tabs-title"><a class="m-anim" href="#panel3">Combo</a></li>
                <li class="tabs-title"><a class="m-anim" href="#panel4">Khác</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="spint" id="panel1"> Đồ Nướng </div>
                <div class="tabs-panel is-active">
                    <div class="menu-content">
                        <div class="menu-section">

                            <table id="grilled-c1">

                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table id="grilled-c2">

                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel1-->
                <div class="spint" id="panel2"> Đồ lẩu </div>
                <div class="tabs-panel">
                    <div class="menu-content">
                        <div class="menu-section">

                            <table id="hotpot-c1">

                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table id="hotpot-c2">

                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel2-->
                <div class="spint" id="panel3"> Combo </div>
                <div class="tabs-panel">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table id="combo-c1">


                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table id="combo-c2">

                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel3-->
                <div class="spint" id="panel4"> Khác </div>
                <div class="tabs-panel">
                    <div class="menu-content">
                        <div class="menu-section">
                            <table id="other-c1">

                            </table>
                        </div>
                        <!--.menu-section-->
                        <div class="menu-section">
                            <table id="other-c2">

                            </table>
                        </div>
                        <!--.menu-section-->
                    </div>
                    <!--.menu-content-->
                </div>
                <!--#panel4-->

            </div>
        </div>
        <!--.container-->
    </section>
    <!-- Detail menu end -->

    <!-- Start QT -->
    <div class="qt-box qt-background qt-background3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <p class="lead ">
                        "Nấu ăn giống như tạo nên nghệ thuật, cần cả tình yêu và sự sáng tạo."
                    </p>
                    <span class="lead">Joyce Carol Oates</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End QT -->

    <!-- Start Customer Reviews -->
    <div class="customer-reviews-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2>Đánh Giá Từ Khách Hàng</h2>
                        <p>- Những Nhận Xét Đáng Giá -</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <div id="reviews" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner mt-4">
                            <div class="carousel-item text-center active">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" src="/img/pham-nhat-minh.jpg"
                                        alt="Ảnh Phạm Nhật Minh">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Phạm Nhật
                                        Minh</strong></h5>
                                <h6 class="text-dark m-0">Minh Bé Bự</h6>
                                <p class="m-0 pt-3"> 🤗🤗 Tôi rất hài lòng với món ăn và dịch vụ của nhà hàng, không
                                    gian thoải mái và tuyệt vời để thư giãn. Món ăn được chế biến rất ngon miệng và chất
                                    lượng tuyệt vời, nhân viên phục vụ rất chu đáo và nhiệt tình 😊. Nếu có dịp, tôi sẽ
                                    mời thêm bạn cùng thưởng thức 😋😋😋</p>
                            </div>
                            <div class="carousel-item text-center">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" src="/img/duongquequat.png" alt="">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Nguyễn Hoàng
                                        Dương</strong></h5>
                                <h6 class="text-dark m-0">Dương Què Quặt</h6>
                                <p class="m-0 pt-3">Tôi đã có một trải nghiệm tuyệt vời khi đến nhà hàng này, từ đội ngũ
                                    nhân viên phục vụ cho đến chất lượng thức ăn đều rất tuyệt vời. Tôi rất thích không
                                    gian và phong cách thiết kế của nhà hàng, món ăn cũng rất ngon và chất lượng cao.
                                </p>
                            </div>
                            <div class="carousel-item text-center">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" src="/img/gordon-ramsey.jpg" alt="">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Gordon Ramsay</strong>
                                </h5>
                                <h6 class="text-dark m-0">Giám Khảo MasterChef </h6>
                                <p class="m-0 pt-3">The hotpot at this restaurant was some of the best I've ever had -
                                    it was cooked perfectly and had amazing flavor. The staff was also very
                                    knowledgeable about the wine list and helped us select the perfect pairing. Overall,
                                    it was a great experience</p>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Tiếp Theo</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Customer Reviews -->

    <!-- Start Contact info -->
    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4 arrow-right">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4>Số Điện Thoại</h4>
                        <p class="lead">
                            +84 966 922 288
                        </p>
                    </div>
                </div>
                <div class="col-md-4 arrow-right">
                    <i class="fa fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4>Email</h4>
                        <p class="lead">
                            Duchuemobach@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4>Vị Trí</h4>
                        <p class="lead">
                            Phường Tân Thịnh - Thái Nguyên
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact info -->

    <!-- Start Footer -->
    <footer class="footer-area bg-f">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h3>Giải Đáp</h3>
                    <p>Mọi nhu cầu về <i> nhượng quyền </i> , xin vui lòng liên hệ trực tiếp tới Mrs Huệ theo thông tin
                        liên hệ để trao đổi. <br> <br> Mọi thắc mắc khác, gửi form yêu cầu qua Email hoặc Gọi điện trực
                        tiếp. Đội ngũ nhân viên chuyên nghiệp trực 24/7. </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3> Nhận Ưu Đãi Sớm Nhất</h3>
                    <div class="subscribe_form">
                        <form class="subscribe_form">
                            <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email của bạn..."
                                type="email">
                            <button type="submit" class="submit">Gửi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <ul class="list-inline f-social">
                        <li class="list-inline-item"><a href="https://www.facebook.com/quancayduchue.vn"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.tiktok.com/@user2218431466624"><i
                                    class="fa-brands fa-tiktok" aria-hidden="true"></i></a></li>
                        <!-- <li class="list-inline-item"><a href="#"><i class="fa-brands fa-zalo" aria-hidden="true"></i></a></li> -->
                        <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                        <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                        <!-- <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Thông tin liên hệ</h3>
                    <p class="lead">(Mrs Huệ)</p>
                    <p style="line-height: 150%;">ĐC1: Đê Nông Lâm: Nhà số 4 Tổ 1 - Đường Đê Nông Lâm - P. Quang Trung -
                        Tp Thái Nguyên.</p>
                    <p style="line-height: 150%;">ĐC2: Cầu Vượt Đán: Tổ 11 - Chân Cầu Vượt Đán - Phường Tân Thịnh - Tp
                        Thái Nguyên.</p>
                    <p class="lead"><a href="#">+84 966 922 288</a></p>
                    <p class="lead" style="margin-top: -15px;"><a href="#">+84 965 583 555</a></p>
                    <p><a href="#"> Duchuemobach@gmail.com</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Giờ mở cửa</h3>
                    <p><span class="text-color">Thứ 2 - Thứ 7:</span> 7:00 - 22:00</p>
                    <p><span class="text-color">Chủ Nhật :</span> 7:00 - 23:00</p>
                    <p><span class="text-color">Ngày Lễ :</span> 10:00 - 20:00</p>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="company-name"> &copy; 2023 Designed By
                            <a href="#" target="_blank">AZAOWEN</a> &
                            <a href="https://www.facebook.com/user.cyber473?mibextid=ZbWKwL "
                                target="_blank">Nguyenle</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#" id="back-to-top" title="Lên Đầu" style="display: none;"><i class="fa-solid fa-angle-up"
            aria-hidden="true"> </i></i></a>

    <div id="preloader">
        <div class="loader">
            <div class="face">
                <div class="circle"></div>
            </div>
            <div class="face">
                <div class="circle"></div>
            </div>
        </div>
    </div>


    <!-- ALL JS FILES -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
    <!-- <script src="../../Models/config/dataJSON.js"></script> -->
    <script src="/js/menu-detail.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <!-- <script src="js/menu-detail.js"></script> -->


    <script>
        $(window).on('load', function () {
            $("#preloader").fadeOut();
        });
    </script>




</body>

</html>