<!DOCTYPE html>
<html>

<head>
	<title>Menu</title>
</head>

<body>


	<ul id="hehe">
		<li> </li>
	</ul>

	<style>
		body,
		html {
			background-color: pink;
		}

		ul {}

		li {
			text-align: center;
		}
	</style>


	<script>

		fetch('http://localhost:5000/client/datamenu')
			.then(response => {
				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return response.json();
			})
			.then(data => {
				const products = data.products;

				const container = document.getElementById('hehe');

				container.innerHTML = '';

				products.forEach(product => {
					const productId = product.productid;
					const title = product.title;
					const tag = product.tag;
					const price = product.price;

					const listItem = document.createElement('li');
					listItem.innerHTML = `Ma San Pham: ${productId}, Title: ${title}, Tag: ${tag}, gia Tien: ${price}`;

					container.appendChild(listItem);
				});
			})
			.catch(error => console.error(error));


	</script>
</body>

</html>
<!-- {{!-- Thêm hàm chờ đếm ngược -> gọi hàm getAllProduct lấy response --}} -->